{% extends 'base.html' %}

{% block page_stylesheets %}
  <link href="/static/stylesheets/minesweeper.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class='mt-5' id='minesweeper-game'>
    <div class='container' id='start-screen'>
      <div class='row justify-content-center'>
        <div class='logo-wrapper col-4 d-flex flex-column align-items-center'>
          <div id='bomb-logo'>
            <div id='bomb-background'></div>
            <i class="fa-solid fa-bomb"></i>
          </div>
          <div id='flag-logo'>
            <i class="fa-solid fa-flag"></i>
          </div>
          <h1 class='game-title mb-4'>MINESWEEPER</h1>
        </div>
      </div>
      <div class='mb-4' id='game-level-menu'>
        <div id='dec-level-btn'>
          <i class='fa-solid fa-caret-left'></i>
        </div>
        <div id='game-level'></div>
        <div id='inc-level-btn'>
          <i class='fa-solid fa-caret-right'></i>
        </div>
      </div>
      <button class='mb-5' id='play-btn'>START</button>
      <div id='leaderboard-btn'>
        <i class="fa-solid fa-ranking-star"></i>
      </div>
      </a>

      <!-- Leaderboard -->
      <div id='leaderboard'>
        <span class='my-4' id='leaderboard-header'>LEADERBOARD</span>
        <div class='leaderboard-subheader ms-5'>BEGINNER</div>
        <ol class='scores ms-4 my-4' id='beginner-scores'>
        </ol>
        <div class='leaderboard-subheader ms-5'>INTERMEDIATE</div>
        <ol class='scores ms-4 my-4' id='intermediate-scores'>
        </ol>
        <div class='leaderboard-subheader ms-5'>EXPERT</div>
        <ol class='scores ms-4 my-4' id='expert-scores'>
        </ol>
      </div>
    </div>

    <div class='container' id='game-screen'>
      <h1 class='game-title mb-4'>MINESWEEPER</h1>

      <div id='game-body'>
        <div class='mb-3' id='game-info'>
          <div id='game-timer'>
            <i class="bi bi-stopwatch"></i>
            <div id='game-timer-display'></div>
          </div>
          <div id='mine-count'>
            <i class="fa-solid fa-bomb"></i>
            <div id='mine-count-display'></div>
          </div>
        </div>
        <div id='game-board'>
          <div class='suspend-screen' id='pause-screen'>GAME PAUSED</div>
          <div class='suspend-screen' id='end-screen'>GAME END</div>
        </div>
      </div>

      <div class='mt-4' id='game-controls'>
        <div id='pause-btn'>
          <i class="fa-solid fa-pause"></i>
        </div>
        <div id='click-action-toggle'>
          <i class="fa-solid fa-flag"></i>
        </div>
        <div id='restart-btn'>
          <i class="fa-solid fa-arrow-rotate-left"></i>
        </div>
        <div id='home-btn'>
          <i class="fa-solid fa-house"></i>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_js %}
  <script src="/static/js/minesweeper_models.js"></script>
  <script src="/static/js/minesweeper_ui.js"></script>
{% endblock %}